on post-fs
    mount none /system/bin/hw/android.hardware.lights-service.mediatek /vendor/bin/hw/android.hardware.lights-service.mediatek bind

on boot
    stop console

    chmod 0664 /sys/class/leds/lcd-backlight/max_brightness
    chown system system /sys/class/leds/lcd-backlight/max_brightness
    chmod 0664 /sys/class/leds/red/led_time
    chown system system /sys/class/leds/red/led_time
    chmod 0664 /sys/class/leds/red/max_brightness
    chown system system /sys/class/leds/red/max_brightness