import /system/etc/init/hw/init.mtkincalladj.rc

on init
    # Disable vendor overlay
    mount none /vendor/lost+found /vendor/overlay bind
    # Mount kernel modules
    mount none /system/lib/modules /vendor/lib/modules bind

on boot
    stop console

    chmod 0664 /sys/class/leds/lcd-backlight/max_brightness
    chown system system /sys/class/leds/lcd-backlight/max_brightness