on init
    mount none /vendor/lost+found /vendor/overlay bind
    setprop sys.usb.ffs.aio_compat 1

on post-fs
    mount none /system/bin/hw/android.hardware.lights-service.mediatek /vendor/bin/hw/android.hardware.lights-service.mediatek bind

on boot
    stop console

    chmod 0664 /sys/class/leds/lcd-backlight/max_brightness
    chown system system /sys/class/leds/lcd-backlight/max_brightness
    chmod 0664 /sys/class/leds/red/led_time
    chown system system /sys/class/leds/red/led_time
    chmod 0664 /sys/class/leds/red/max_brightness
    chown system system /sys/class/leds/red/max_brightness

# Disable AOSP RIL if MTK RIL is up
on property:vendor.ril.mtk=1
    stop vendor.ril-daemon

on property:dev.bootcomplete=1
    chmod 0666 /dev/xiaomi-touch

on property:persist.sys.MT6891.dt2w=*
    exec /system/bin/xiaomi-touch 14 ${persist.sys.MT6891.dt2w}